header{
    padding: 20px 0;
    border-bottom: 2px solid black;
    /*margin: 0 0 20px 0;*/
}


.headline{
	position: relative;
	padding: 0 40px;
}

.headline h1{
	padding: 18px 0;
	margin: 0 0 2px 0;
	font-size: 48px;
	border-bottom:2px solid #fff;
}

h2.heading{
	padding: 18px 0;
	margin: 0 0 2px 0;
	border-bottom:2px solid #fff;
	font-size: 28px;
}

h3.heading{
	font-size: 1.5rem;
}

.headline p{
	padding: 10px 0;
	border-top:2px solid #fff;
	font-size: 21px;
}

.headline a.news-link{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/*homepage breaking news section*/
/*.breaking-news-headline h1{
	border-bottom:2px solid #fff;
}


.breaking-news-headline p{
	border-top:2px solid #fff;
	font-size: 21px;
}	*/

.heading strong{
    font-weight: 600;
    font-size: 14px;
    display: block;
}


/*main boxes carousel css here*/
.b-0 {
    bottom: 0;
}
.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}
.overflow {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: all 0.2s linear;
}
.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*main boxes carousel css here*/

.navigation-sticky{
	position: sticky;
	top: 0;
	z-index: 1;
}

