/*
Theme Name: Eyeshot.
Theme URI: http:\\google.com;
Description: Wordpress trial.
Version: 1.0
Author: Nirajan
Author URI: http:\\google.com.
*/


body{
	font-family: 'Montserrat', sans-serif;
	background-color: #f6f3f2;
	/*background-color: red;*/
}

/*ul{
	margin: 0;
	padding:0;
}*/

.sticky-position-top{
    position: sticky;
    top: 0;
    z-index: 1;
}


.primary-background{
	background-color: #ff6f61;
	background-color: #0f4c81;
	color: #fff;
}

.about-section a{
	color: #007d92;
	/*border-bottom: 2px solid #ff6f61;*/
	border-bottom: 2px solid #ffc55b;
}
.about-section a:hover{
	text-decoration:none;
}

.header h1{
	font-size: 3em;
	margin: 30px 0 10px;
}

.self-center{
	display: table;
	margin: auto;
}

nav ul li a {
	font-weight: 500;
	color: #fff;
    font-size: 21px;
    position: relative;
}

nav ul li a.active , nav ul li a:hover{
	/*color: #b00000;*/
	/*color: #390c09;*/
	color: #ffc55b;
}

nav ul li a:before{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 3px;
	width: 0%;
	transform:translateX(-50%);
	transition:0.5s;
	background-color:#390c09;
}

nav ul li a:hover:before{
	width: 80%;
}

.primary-background .page-title{
	color: #fff;
}

.page-title{
	font-size: 2.3rem;
	color: #ff6f61;
}

.about-section p{
	font-size: 18px;
    line-height: 32px;
    text-align: justify;
    font-weight: 500;
}

.well img{
	width: 100%;
}

.single-article-section{
	width: 75%;
	margin: auto;
}

.learn-list li{
	font-size: 1.5em;
	list-style: none;
}

.roadmap-css{
	width: 100%;
}

.web-frame{
	background-color: #f6f3f2;	
    width: 80%;
    min-height: 500px;
    margin-left: 10%;
    color:#390c09;
    /*padding: 30px 0;*/
}

.form-div{
	display: none;
}


/*contact form*/
input[type=text], select, textarea {
    width: 100%;
	padding: 12px;
	border: none;
	/* border-radius: 4px; */
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: transparent;
	/*border-bottom: 2px solid #396b96;*/
    border-bottom: 1px solid #c5c5c5;
	color: #0f4c81;
    font-weight: 500;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  /*padding: 20px;*/
}

#myModal h4 i {
	font-size: 60px;
}
/*contact form*/


/*portfolio page*/

.portfolio-gallery {
-webkit-column-count: 3; /* Chrome, Safari, Opera */
-moz-column-count: 3; /* Firefox */
column-count: 3;
}

.portfolio-gallery div{
	position: relative;
	margin-bottom: 15px;
}

.portfolio-gallery div:hover:before{
	opacity: 0;
}

.portfolio-gallery div:before{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgb(15 76 129 / 0.2);
    z-index: 999;
    content: '';
    transform: translate(-50%,-50%);
}

.portfolio-gallery img{ 
	width: 100%; 
	height: auto;
}

@media (max-width: 768px) {
	.portfolio-gallery {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;		
	}
}

@media (max-width: 500px) {
	.portfolio-gallery {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;		
	}
}

/*portfolio page*/

/*message page */
.contact-form label{
	color: #fff;
}
/*message page*/

@media only screen and (min-width: 576px) and (max-width: 767px){
	.container {
     	max-width: 100%; 
	}
}

@media only screen and (max-width: 540px) {
	nav ul li a {
		font-size: 14px;
	}

	.index-banner {
		background:none !important;
	}

	.single-article-section{
		width: 100%;
	}
}

@media only screen and (max-width: 340px) {
	ul.nav{
		margin : 1rem 0rem !important;
	}
	ul li a.nav-link{
		padding: 0.5rem !important;
	}
}